/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/components/dashboard/Dashboard.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Dashboard_expandSidebar__NKMXy {
    width: 4.5rem;
    max-width: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
}

.Dashboard_expandSidebar__NKMXy:hover {
    width: 15rem;
    max-width: 100%;
}

.Dashboard_buttonText__AOm_8 {
    display: none;
    white-space: nowrap;
}

.Dashboard_expandSidebar__NKMXy:hover .Dashboard_buttonText__AOm_8 {
    display: inline-block;
}

.Dashboard_buttonActive__a11a3 svg path{
    fill: #6366f1;
}

.Dashboard_buttonActive__a11a3 .Dashboard_buttonText__AOm_8 {
    color: #6366f1;
}

.Dashboard_sidebarBtn__xruIb :is(.Dashboard_buttonText__AOm_8, svg path) {
    transition: all 200ms linear;
}

.Dashboard_sidebarBtn__xruIb:hover .Dashboard_buttonText__AOm_8 {
    color: #f43f5e;
}

.Dashboard_sidebarBtn__xruIb:hover svg path {
    fill: #f43f5e;
}

.Dashboard_customScrollBar__qllHL {
    --scroll-bar-border-radius: .3rem;
}

.Dashboard_customScrollBar__qllHL::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: var(--scroll-bar-border-radius);
	background-color: #F5F5F5;
}

.Dashboard_customScrollBar__qllHL::-webkit-scrollbar
{
	width: .4rem;
	background-color: #F5F5F5;
}

.Dashboard_customScrollBar__qllHL::-webkit-scrollbar-thumb
{
	border-radius: var(--scroll-bar-border-radius);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/components/dashboard/AddStudent.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.AddStudent_bgBlackBlur__ZPslt {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.AddStudent_bgBlur__WXNFI {
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.AddStudent_customSelectOptions___dZTT option{
    padding: 1rem;
    border-radius: 1rem;
    /* background-color: rgba(0, 0, 0, 0.8); */
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/components/dashboard/ViewStudents.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.ViewStudents_bgForm__aDWWP {
    background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
